
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: #fff;
    box-sizing: border-box; 
}


.task-form, .search-form {
    margin-top: 20px;
    padding: 20px;
    background-color: #2a2a2a;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    width: 90%; 
    max-width: 360px;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.task-form:hover, .search-form:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.task-form input[type="number"],
.task-form input[type="text"],
.task-form input[type="tel"],
.search-form input[type="text"],
.search-form select {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #444;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #fff;
    color: #000;
    box-sizing: border-box;
}

.task-form button, .search-form button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    background: linear-gradient(to right, #4CAF50, #45a049);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s;
    box-sizing: border-box;
}

.task-form button:hover, .search-form button:hover {
    background: linear-gradient(to right, #45a049, #4CAF50);
}


#task-list {
    list-style-type: none;
    padding: 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    box-sizing: border-box; 
}


.task-item {
    width: 100%;
    max-width: 1200px;
    background-color: #3b3b3b;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    box-sizing: border-box; 
}

.task-item:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}

.task-content h3 {
    margin: 0;
    font-size: 22px;
    color: #e0e0e0;
}

.task-content p {
    margin: 5px 0;
    font-size: 18px;
    color: #ccc;
}

/* Button Styles */
.task-item button {
    padding: 12px 18px;
    font-size: 16px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
    transition: background 0.3s;
    box-sizing: border-box; 
}

.task-item button:hover {
    background-color: #cc0000;
}


@media (max-width: 768px) {
    .task-form, .search-form {
        width: 90%;
    }

    .task-item {
        width: 95%;
    }
}
